__pycache__/
*.py[cod]
*$py.class
*.so

.poetry/
.vscode/
.idea/

.env

*.yaml.secret
*.kubeconfig

.venv/
venv/
env/

*.log
*.tmp
*.bak
*.swp

build/
dist/
*.egg-info/
.eggs/

*.tar
docker-compose.override.yml


# System files
.DS_Store
Thumbs.db

.cache/
__pypackages__/